### **EXP-Basic Data Cleaning:**

In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### **Data Loading:**

In [64]:
df = pd.read_csv(r"E:\DATA SCIENCE & AI\PROJECTS\Swiggy Delivery Dataset\train.csv")

In [65]:
df.sample(5)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
34864,0x932a,HYDRES16DEL01,30,4.4,17.440827,78.393391,17.550827,78.503391,20-03-2022,21:45:00,21:55:00,conditions Fog,Jam,2,Snack,electric_scooter,1,Yes,Metropolitian,(min) 46
32459,0x2a14,INDORES08DEL02,39,4.9,22.725748,75.898497,22.745748,75.918497,24-03-2022,11:15:00,11:20:00,conditions Sandstorms,High,2,Snack,motorcycle,1,No,Metropolitian,(min) 33
44000,0x2ec0,INDORES04DEL03,30,4.6,22.753659,75.903365,22.813659,75.963365,09-03-2022,23:10:00,23:25:00,conditions Fog,Low,2,Meal,motorcycle,1,No,Metropolitian,(min) 17
33038,0xb5cd,MYSRES02DEL02,28,4.6,12.304569,76.643622,12.434569,76.773622,29-03-2022,20:10:00,20:25:00,conditions Cloudy,Jam,2,Drinks,motorcycle,0,No,Metropolitian,(min) 40
35193,0x4533,INDORES19DEL02,32,3.8,22.745536,75.893106,22.875536,76.023106,04-03-2022,22:55:00,23:00:00,conditions Cloudy,Low,2,Drinks,electric_scooter,2,No,Metropolitian,(min) 39

In [66]:
df.shape

(45593, 20)

In [67]:
df[df['Restaurant_latitude']<=0]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
33,0x2876,RANCHIRES02DEL01,32,3.5,0.0,0.0,0.11,0.11,08-03-2022,21:35:00,21:45:00,conditions Stormy,Jam,1,Snack,scooter,0,No,Urban,(min) 35
52,0xc1ff,AURGRES20DEL03,25,5,0.0,0.0,0.03,0.03,13-02-2022,22:10:00,22:25:00,conditions Cloudy,Low,0,Snack,motorcycle,0,No,Metropolitian,(min) 15
57,0x8e6c,VADRES02DEL02,39,4.2,0.0,0.0,0.08,0.08,02-03-2022,20:35:00,20:50:00,conditions Fog,Jam,2,Snack,scooter,1,No,Semi-Urban,(min) 49
59,0x395b,VADRES04DEL03,36,4.7,0.0,0.0,0.06,0.06,13-03-2022,20:15:00,20:20:00,conditions Cloudy,Jam,1,Snack,motorcycle,1,No,Metropolitian,(min) 30
67,0x98aa,VADRES16DEL02,23,4.8,0.0,0.0,0.02,0.02,07-03-2022,10:40:00,10:50:00,conditions Stormy,Low,1,Meal,scooter,1,No,Metropolitian,(min) 15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45569,0x1de4,VADRES02DEL01,26,4.9,0.0,0.0,0.07,0.07,10-03-2022,19:35:00,19:45:00,conditions Fog,Jam,1,Drinks,scooter,1,No,Metropolitian,(min) 32
45576,0x2bed,RANCHIRES02DEL02,34,4.2,0.0,0.0,0.13,0.13,04-04-2022,17:25:00,17:30:00,conditions Stormy,Medium,0,Drinks,motorcycle,3,No,Urban,(min) 48
45577,0x373f,VADRES12DEL03,25,4.7,0.0,0.0,0.09,0.09,29-03-2022,22:10:00,22:15:00,conditions Cloudy,Low,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
45579,0xdf1d,BHPRES19DEL02,32,4.6,0.0,0.0,0.05,0.05,15-02-2022,18:10:00,18:20:00,conditions Stormy,Medium,2,Drinks,scooter,1,No,Metropolitian,(min) 27
45589,0xd641,AGRRES16DEL01,21,4.6,0.0,0.0,0.07,0.07,16-02-2022,19:55:00,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36

- I have observed that there are some rows having 0 as a lattitude & longitude value which is impossible.

- **Solution:** I have replaced it with `NaN` value.

In [68]:
df['Restaurant_latitude'] = abs(df['Restaurant_latitude'].replace(0,np.nan))

In [69]:
df['Restaurant_longitude'] = abs(df['Restaurant_longitude'].replace(0,np.nan))

- Also, I have seen that for delivery location latitude & longitude, there are some fake or dummy informations with respect to restrurant information where there were 0.

- **Solution:** Also replaced those values with `NaN`.

In [70]:
cols = ["Delivery_location_latitude","Delivery_location_longitude"]
df.loc[df['Restaurant_latitude'].isnull(), cols] = np.nan

In [71]:
df['ID'].nunique()

45593

- Observed that ID column has no usage.

- **Solution:** Dropped it.

In [72]:
df.drop(columns=['ID'],inplace=True)

In [73]:
df.sample(3)

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
519,SURRES11DEL01,21,4.9,21.157735,72.768778,21.167735,72.778778,13-03-2022,11:25:00,11:35:00,conditions Stormy,High,2,Buffet,motorcycle,0,No,Urban,(min) 13
23727,CHENRES17DEL03,29,4.8,13.045479,80.233110,13.075479,80.263110,24-03-2022,22:10:00,22:15:00,conditions Windy,Low,1,Snack,scooter,0,No,Urban,(min) 15
33146,LUDHRES11DEL03,25,4.9,30.893081,75.821495,30.923081,75.851495,11-02-2022,22:45:00,22:50:00,conditions Stormy,Low,2,Drinks,scooter,0,No,Urban,(min) 10

In [74]:
df.isnull().sum()

Delivery_person_ID                0
Delivery_person_Age               0
Delivery_person_Ratings           0
Restaurant_latitude            3640
Restaurant_longitude           3640
Delivery_location_latitude     3640
Delivery_location_longitude    3640
Order_Date                        0
Time_Orderd                       0
Time_Order_picked                 0
Weatherconditions                 0
Road_traffic_density              0
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries               0
Festival                          0
City                              0
Time_taken(min)                   0
dtype: int64

- Observed that there is NAN in term of string (**that's why it is not counted by `isnull()` function**) with respect to 

    - `Delivery_person_Age`,  `Delivery_person_Ratings`,
    - `Time_Orderd`,  `Weatherconditions`,  `Road_traffic_density`
    - `multiple_deliveries`, `Festival`, `City`.

In [75]:
columns = ["Delivery_person_Age",  "Delivery_person_Ratings","Time_Orderd", "Weatherconditions", "Road_traffic_density",
"multiple_deliveries", "Festival", "City"]

In [76]:
for i in columns:
    df[i] = df[i].replace('NaN ',np.nan)

In [77]:
df['Weatherconditions'] = df['Weatherconditions'].replace("conditions NaN",np.nan)

In [78]:
round(df.isnull().sum()/df.shape[0]*100,2)

Delivery_person_ID             0.00
Delivery_person_Age            4.07
Delivery_person_Ratings        4.18
Restaurant_latitude            7.98
Restaurant_longitude           7.98
Delivery_location_latitude     7.98
Delivery_location_longitude    7.98
Order_Date                     0.00
Time_Orderd                    3.80
Time_Order_picked              0.00
Weatherconditions              1.35
Road_traffic_density           1.32
Vehicle_condition              0.00
Type_of_order                  0.00
Type_of_vehicle                0.00
multiple_deliveries            2.18
Festival                       0.50
City                           2.63
Time_taken(min)                0.00
dtype: float64

- Also I have observed that in weathercondition column I can remove the condition words which is repeatative in whole column.

In [79]:
df['Weatherconditions'].unique()

array(['conditions Sunny', 'conditions Stormy', 'conditions Sandstorms',
       'conditions Cloudy', 'conditions Fog', 'conditions Windy', nan],
      dtype=object)

In [80]:
df['Weatherconditions'] = df['Weatherconditions'].apply(lambda x: x.split()[-1] if isinstance(x, str) else x)

- **cleaning the target column:**

In [81]:
df['Time_taken(min)'] = df['Time_taken(min)'].apply(lambda x: x[-2:]).astype("float")

In [82]:
df.sample(5)

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
3010,MUMRES20DEL01,33,4.6,19.103249,72.846749,19.143249,72.886749,05-04-2022,13:50:00,14:00:00,Stormy,High,2,Drinks,motorcycle,1,No,Urban,26.0
33337,PUNERES20DEL03,25,4.6,18.592718,73.773572,18.622718,73.803572,24-03-2022,20:30:00,20:45:00,Sunny,Jam,1,Buffet,motorcycle,0,No,Metropolitian,14.0
37289,LUDHRES12DEL02,24,4.9,30.893244,75.821817,31.023244,75.951817,14-02-2022,17:25:00,17:30:00,Fog,Medium,1,Meal,motorcycle,0,No,Metropolitian,38.0
30620,INDORES16DEL02,38,4.8,22.744648,75.894377,22.874648,76.024377,20-03-2022,19:40:00,19:55:00,Cloudy,Jam,2,Buffet,motorcycle,1,No,Metropolitian,35.0
22949,MYSRES17DEL03,27,4.7,12.326356,76.619103,12.416356,76.709103,02-04-2022,18:35:00,18:50:00,Windy,Medium,2,Drinks,scooter,1,No,Metropolitian,25.0

In [83]:
def basic_data_cleaning(df):

    df.drop(columns=['ID'],inplace=True)
    df['Restaurant_latitude'] = abs(df['Restaurant_latitude'].replace(0,np.nan))
    df['Restaurant_longitude'] = abs(df['Restaurant_longitude'].replace(0,np.nan))
    cols = ["Delivery_location_latitude","Delivery_location_longitude"]
    df.loc[df['Restaurant_latitude'].isnull(), cols] = np.nan

    columns = ["Delivery_person_Age",  "Delivery_person_Ratings","Time_Orderd", "Weatherconditions", "Road_traffic_density",
    "multiple_deliveries", "Festival", "City"]
    for i in columns:
        df[i] = df[i].replace('NaN ',np.nan)
    df['Weatherconditions'] = df['Weatherconditions'].replace("conditions NaN",np.nan)
    df['Weatherconditions'] = df['Weatherconditions'].apply(lambda x: x.split()[-1] if isinstance(x, str) else x)
    df['Time_taken(min)'] = df['Time_taken(min)'].apply(lambda x: x[-2:]).astype("float")

    return df

___________________________________________